.container {
     width: 100vw;
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     font-size: 20px;
     font-weight: bold;
}

.info-container{
     
     height: 500px;
     width: 700px;
     border-radius: 10px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
}

.pokemon-info-left{
     display: flex;
     justify-content: space-between;
     flex-direction: column;
     /* background-color: blue; */
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
     width: 50%;
}

.pokemon-info-left p {
     margin-top: 30px;
     width: fit-content;
     align-self: center;
}

.pokemon-info-left img {
     width: fit-content;
     align-self: center;
     margin-bottom: 50%;
}

.pokemon-info-right {
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
     width: 50%;
     display: flex;
     justify-content: space-evenly;
     flex-direction: column;
}

.fav-button {
     display: flex;
     justify-content: center;
}
.favoritado{
     padding: 10px;
     align-self: center;
     border-radius: 10px;
     width: 150px;
     font-weight: bold;
     background-color: green;
     color: white;
}

.desfavoritado {
     padding: 10px;
     align-self: center;
     border-radius: 10px;
     width: 150px;
     font-weight: bold;
     background-color: red;
     color: white;
}

.pokemon-name {
     display: flex;
     justify-content: center;
}

.pokemon-name{
     display: flex;
     justify-content: center;
}


.specific-pokemon-kind-container {
     display: flex;
     flex-direction: row;
     justify-content: center;    
     
}

.specific-pokemon-kind{
     border: 1px solid black;
     padding: 10px;
     margin: 5px;
     border-radius: 10px;
}


.pokemon-weigth {
     display: flex;
     justify-content: center;
}

.pokemon-height {
     display: flex;
     justify-content: center;
}

.fav-button{
     color: green;
}