.grid-container{
     display: grid;
     grid-template-columns: max-content max-content max-content max-content max-content max-content ;
     grid-auto-columns: auto;
     column-gap: 20px;
     row-gap: 20px;
     justify-content: center;
}

.pokemons-title {
     font-size: 40px;
     display: flex;
     justify-content: center;
     margin-top: 25px;
     font-family: Pokemon Hollow;
}

.pagination {
     padding-bottom: 10px;
     display: flex;
     flex-direction: row;
     justify-content: center;
}

.page-item {
     padding: 10px;
     border-style: solid;
     border-width: 1px;
     border-color: lightgray;
     border-radius: 2px;
     margin-left: 1px;
     margin-right: 1px;
}

.page-link {
     text-decoration: none;
     color:black;
}

.page-item:hover{
     background-color: lightgray;
     color: whitesmoke;
}

.active-item {
     background-color: gray;
}

.item-link{
     color: white;
}


@media (max-width: 1000px){
     .grid-container{
          grid-template-columns: max-content max-content max-content max-content;
     }
}

@media (min-width: 650px) and (max-width: 1000px){
     .grid-container{
          grid-template-columns: max-content max-content max-content;
     }
}

@media (max-width: 650px){
     .grid-container{
          grid-template-columns: max-content max-content;
     }
}

@media (min-width: 1000px) and (max-width: 1200px){
     .grid-container{
          grid-template-columns: max-content max-content max-content max-content;
     }
}



